#canvas {
    border: 1px solid #000000;
    border-radius: 5px;
    background-color: white;
}

#container-canvas {
    /* border: 2px solid red; */
    text-align: center;
    min-width: 550px;
}

#container-main {
    margin-top: 20px;
}

#container-fractal-selector{
    margin-bottom: 25px;
}

#container-julia-value-selector{
    margin-bottom: 25px;
}

#container-slider {
    margin-bottom: 25px;
    /* border: 2px solid beige; */
}

h1 {
    text-align: center;
}

.container-settings {
    /* border: 2px solid beige; */
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 25px;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
    /* text-align: center; */
}

.color-picker {
    margin-bottom: 25px;
}

.color-picker .form-label {
    margin-bottom: 5px;
}

.disable-scrollbar{
    overflow: hidden;
}